
html{

  font-size: 12px;
}

body{
  height: 100vh;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 1fr min-content;

  font-family: sans-serif;

}

body.animation{
  grid-template-columns: 1fr;
}

body > section{
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 3em;
}

p{
  box-sizing: border-box;
  margin: 0;
  padding: 1.5rem;
  font-size: 1.5em;
  height: 100%;

  /* min-width: 10em; */

  /* background: black; */
  /* color: white; */
}

/* --- */

.imbricated .cifas{
  /* margin-top: -6em; */
}

/* --- */

.unfolding{
  gap: 1em;
  /* flex-wrap: wrap;
  align-content: center; */

  align-items: stretch;
  flex-direction: column;
}
.unfolding > *:nth-of-type(2){
  /* flex: 1 0 100%; */
  flex-grow: 1;
}

/* --- */

.logo{
  flex-direction: column;
  gap: 1em;
  align-items: flex-end;
  justify-content: flex-end;
}
.logo > *:nth-of-type(2){
  /* width: 12em; */
}

/* BORDER
 ============================================================================ */

.cifas{

  min-width: 12rem;

   /* width: 100vw;
   height: 100vh; */


   box-sizing: border-box;
   border: solid;

   /* the source */
   /* border-image-source: url('../logo/logo-stretchable.svg');
   border-image-repeat: stretch;
   border-image-slice: calc(50 / 150 * 100%) calc(50 / 380 * 100%);
   border-width: 2rem; */

   /* border-image-repeat: round;
   border-image-slice: 25;
   border-width: 10rem; */

   /* margin-right: -6em; */

   /* border-image-source: url('../logo/logo-stretchable-allaround-12.svg'); */
   /* border-image-source: url('../logo/logo-stretchable-syne-2.png');
   border-image-slice: calc(1 / 3 * 100%) calc(1 / 3 * 100%); */

   border-image-source: url('../logo/logo-selec-1.png');
   border-image-slice: calc(1 / 3 * 100%) calc(1 / 5 * 100%);
   border-image-repeat: stretch;
   border-width: 3rem;
}

.cifas > .cifas{
  margin: 1em;
}

.cifas.feral{
  border-image-source: url('../logo/logo-feral-1.png');
}


/* animation */
body.animation{
  display: flex;
  justify-content: center;
  align-items: center;
}
body.animation .cifas{
  box-sizing: border-box;
  width: 12em;
  height: 6em;

  transition: 2s width, 4s height, 4s border-width;
}
body.animation .cifas > p{
  height: 0;
  width: 100%;
  opacity: 0;
  overflow: hidden;

  transition: 1s;
}

body.animation .cifas:hover{
  width: 80vw;
  height: 80vh;

  /* width: 100vw;
  height: 100vh; */

  border-width: 6rem;
}

/* body.animation .cifas:hover > p{
  height: 100%;
  opacity: 1;
} */
