#myDIV1 {
   float:left;
   border:40px solid transparent;
   width:600px;
   margin:40px;
   padding:30px 50px;
   border-image:url(https://arteplan.org/wp-content/uploads/2017/09/Fusee-de-Detresse-Frederique-Lecomte-1000x670.gif) 200 5 stretch;
   transition:.2s;
}

#myDIV1:hover {
   border-image:url(https://arteplan.org/wp-content/uploads/2017/09/Fusee-de-Detresse-Frederique-Lecomte-1000x670.gif) 5 200 stretch;
}

#myDIV2 {
   float:right;
   border:60px solid transparent;
   width:600px;
   margin:20px;
   padding:30px 50px;
   border-image:url(https://thumbs.dreamstime.com/b/rusty-manhole-cap-grunge-manhole-cover-round-shaped-top-view-symmetrical-rusty-manhole-cap-160121031.jpg) 220 round;
   transition:.2s;
}

#myDIV2:hover {
   border-image:url(https://thumbs.dreamstime.com/b/rusty-manhole-cap-grunge-manhole-cover-round-shaped-top-view-symmetrical-rusty-manhole-cap-160121031.jpg) 270 round;
}