#myDIV1 {
   float:left;
   position:fixed;
   border:40px solid transparent;
   width:600px;
   height:400px;
   margin:40px;
   padding:30px 50px;
   border-image:url(img/map03-1200px.png) 200 5 round;
   transition:.2s;
}

#myDIV1:hover {
   border-image:url(img/map02-1200px.png) 5 200 round;
}

#myDIV1a {
    float:left;
    position: relative;
    border:40px solid transparent;
    width:600px;
    height:400px;
    margin:80px;
    padding:30px 50px;
    border-image:url(img/map03-1200px.png) 200 5 round;
    transition:.2s;
 }
 
 #myDIV1a:hover {
    border-image:url(img/map02-1200px.png) 5 200 round;
 }
 

#myDIV2 {
   float:right;
   border:60px solid transparent;
   width:600px;
   margin:20px;
   padding:30px 50px;
   border-image:url(img/map03-1200px.png) 220 round;
   transition:.2s;
}

#myDIV2:hover {
   border-image:url(img/map02-1200px.png) 270 round;
}