#myDIV1 {
   float:left;
   position:fixed;
   border:40px solid transparent;
   width:600px;
   height:400px;
   margin:40px;
   padding:30px 50px;
   border-image:url("stroke1.svg") 200 5 round;
   transition:2s;
}

#myDIV1:hover {
   border-image:url("stroke1.svg") 5 200 round;
}

#myDIV1a {
    float:left;
    position: relative;
    border:200px solid transparent;
    width:600px;
    height:400px;
    margin:80px;
    padding:30px 50px;
    border-image:url("stroke1.svg") 200 5 stretch;
    transition:1s;
 }
 
 #myDIV1a:hover {
    border-image:url("stroke1.svg") 5 200 stretch;
 }
 

#myDIV2 {
   float:right;
   border:60px solid transparent;
   width:600px;
   margin:20px;
   padding:30px 50px;
   border-image:url("stroke1.svg") 220 round;
   transition:1s;
}

#myDIV2:hover {
   border-image:url("stroke1.svg") 270 round;
}