
body{
  height: 100vh;
  margin: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

body > section{
  width: 40vw;
  height: 70vh;
}

:is(.simple, .grid) .border{
  width: 100%;
  height: 100%;
}

p{
  box-sizing: border-box;
  margin: 0;
  padding: 1.5rem;
  font-size: 1.5em;
  height: 100%;

  /*
  background: black;
  color: white; */
}

/* grid disposition */
.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.grid > .border:nth-of-type(1){
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
}
.grid > .border:nth-of-type(2){
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}
.grid > .border:nth-of-type(3){
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}


/* OPENSTREETMAP COLORS
 ============================================================================ */
:root{
  --opsm-grey: #e1e0e0;
  --opsm-brown: #ded1ca;
  --opsm-lightgreen: #d4f7be;
  --opsm-pink: #fbdada;
  --opsm-cyan: #8de3cb;
}

/* BORDER
 ============================================================================ */

body{
  /* background: black; */
}

.border{
   box-sizing: border-box;
   /* border: 20px double black; */
   border: solid;

   /* the source */
   border-image-source: url('../border-images/checkerboard-destruct.svg');

   /*  type of stretch */
   /* border-image-repeat: round; */
   border-image-repeat: round stretch;

   /* the slices */
   border-image-slice: 100;

   border-width: 2rem;


   /* border-image-source: url('../border-images/checkerboard-destruct.svg');
   border-image-repeat: stretch;
   border-image-slice: 120 70 20;
   border-width: 2.5rem; */


   border-image-source: url('../border-images/checkerboard-destruct.svg');
   border-image-repeat: round stretch;
   border-image-slice: 100;
   border-width: 3rem;
}

.border:hover{
  /* border-image-repeat: round stretch; */
  border-image-slice: 100;
}
